<h2>商品詳細</h2>

<%= @item.image %>

<p>商品名</p>
<span><%= @item.name %></span>

<p>商品説明</p>
<span><%= @item.explanation %></span>

<p>ジャンル</p>

<p>税込価格</p>
<%= @item.price_without_tax %>
<p>円</p>
<!-- ここの書き方がわからない-->

<p>販売ステータス</p>
<span>
  <% if item.item_status? %>
  <p>販売中</p>
  <% else %>
  <p>販売停止中</p>
  <% end %>
</span>

<%= link_to "編集する", edit_admin_item_path(item.id) %>