<h2>注文履歴一覧</h2>
<% @order.each do |order| %>
<p>購入日時</p>
<span>
  <%= link_to @orders.created_at.strftime('%Y/%m/%d'), order_path(order.id) %>
</span> 

<p>購入者</p>
<%= order.name %>

<p>注文個数</p>
<%= order.quantity %>


<p>注文ステータス</p>
<%= Order.payment_methods_i18n[:orders_status] %>

<%= paginate @order %>

<% end %>
