<h2><strong>商品一覧</strong></h2>
<%= @item do |item| %>
<p>(全</p>
<p><%= item.count %></p>
<p>件)</p>
<% end %>

<%= @item.each do |item| %>
<%= item.image %>
<%= item.price_without_tax %>
<% end %>

<%= paginate @item %>
