<h2><strong>商品一覧</strong></h2>

<p>(全
<%= @item.count %>
件)</p>


<% @item.each do |item| %>
 <%= link_to item_path(item.id) do %>
    <%= image_tag item.image, size: "100x100" %>
 <% end %>
 <%= item.name %>
 <%= item.price_without_tax %>
<% end %>

<%= paginate @item %>
